<launch>
<!-- for including the robot urdf properties in rviz-->
  <arg name="model" default="$(find my_simulations)/urdf/vajra.xacro" />
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find my_simulations)/rviz/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <param name="use_gui" value="$(arg gui)" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>